page-home {
	.timerView {
		background: linear-gradient(180deg, $purple, $dark-grey-2);
	}

	#timestampContainer {
		position: relative;
		top: 10%;
		text-align: center;
	}

	#timestamp {
		font-size: 6rem;
	}
}